<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){yellow}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="httl" level="INFO"/>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>